@model AwesomeizeCS.Domain.TeacherCourse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeacherCourse</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" asp-items="@(new SelectList(ViewBag.Teachers, "Value", "Text"))" class="form-control"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <select asp-for="Course.Id" asp-items="@(new SelectList(ViewBag.Courses, "Value", "Text"))" class="form-control"></select>
                <span asp-validation-for="Course.Id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMainTeacher"/> @Html.DisplayNameFor(model => model.IsMainTeacher)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("CourseDetails", "Courses")">Back to List</a>
</div>